@import "../estilos/partials/topNav";
@import "./partials/bodyHome";
@import "./partials/bodyStaff";
@import "./partials/descriptionStaff";
@import "./partials/footer";
@import "./partials/bodyContacto";
@import "./partials/bodyHorarios";
@import "./partials/bodyGalery";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


