/*GALERIA*/

.videoSize{
  width: 32.5rem;
  height: 39.375rem;
  }
.imgGalery{
  width: 32.5rem;
  height: 32.5rem;
}

/*******************************************************************************/
/*MEDIA QUERIES*/



@media only screen and (min-width: 768px) {
  .titleHome{
    font-size: 5rem;
  }
}





